<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Wat is GeoCaching?</title>
</head>

<body>
    <h3>Hoe spreek je Geocaching uit?</h3>
    <p>Als Dzjio-kesjing. Het woord cache (schat) dus als kesj. Dus niet als ketsjing!</p>

    <h3>Wat is Geocaching?</h3>
    <p>Geocaching is een avontuurlijk spel voor GPS gebruikers. Deelnemen met schatzoeken, op z'n Engels 'cache hunt', is een goede manier om de voordelen en de prachtige mogelijkheden van een GPS te leren kennen. Het basisidee is dat personen en organisaties/verenigingen (denk hierbij aan bijv. de scouting) caches verstoppen over de hele wereld en de locaties van deze caches delen door op internet hun exacte positie te melden. Andere GPS gebruikers benutten deze coördinaten om deze caches te vinden. 
    Is de cache eenmaal gevonden, dan geeft de cache, oftewel schat, z'n geheimen prijs en beloont de vinder met een variëteit aan beloningen.
    Aan de vinder wordt gevraagd iets uit te cache te nemen en hiervoor in de plaats weer iets achter te laten.</p>
    
    <h3>Waar gaat het over? Je geeft mij de coördinaten en ik weet waar ik de cache kan vinden. Klinkt nogal simpel.</h3>
    <p>Laat je niet misleiden, het is moeilijker dan je denkt. Een schat vinden is één, om op de plaats van de cache te komen is een heel ander verhaal.</p>
    
    <h3>Wat is een GPS ontvanger?</h3>
    <p>Een GPS ontvanger (ook wel kortweg GPS genoemd) is een elektronisch apparaat wat je exacte positie op aarde kan weergeven. Coördinaten worden uitgedrukt in lengtegraden (Longitude) en breedtegraden (Latitude). Je kan de GPS gebruiken om van punt A naar B te navigeren. Sommige GPS ontvangers hebben een display waarop ze kaarten kunnen laten zien, een ingebouwd elektronisch kompas, spraaknavigatie: dit alles afhankelijk van de complexiteit van de unit.</p>
    <p>Je hoeft niet alle ins en outs van de GPS te kennen om het spel Geocaching te spelen. Alles wat je moet doen, is het invoeren van een zogenaamd 'Waypoint', oftewel de coördinaten van de cache in de GPS zetten. Dit is de plaats van de cache in het 'veld'.  We zijn bezig met een hulpfile hoe je de GPS in moet stellen om met geocaching aan de slag te gaan</p>
    
    <h3>Wat zijn de spelregels van Geocaching?</h3>

    <p>Geocaching is een relatief nieuw fenomeen, daarom zijn de regels (nog) erg simpel:
        <ol>
            <li>Neem iets uit de cache.</li>
            <li>Laat iets achter in de cache.</li>
            <li>Schrijf iets in het logboek.</li>
        </ol>
    Waar je een cache verstopt is aan jou. geocaching.nl neemt geen enkele verantwoordelijkheid voor items die (waar ook ter wereld) achtergelaten worden.  Het is hoe dan ook aan te raden jezelf ervan te overtuigen dat de eigenaar geen bezwaar maakt tegen het achterlaten van de cache. Vraag zo wie zo toestemming aan de eigenaar wanneer het privégrond betreft.</p>

    <p>Als je besluit je cache in een nationaal park of natuurgebied achter te laten neem dan contact op met de eigenaar/beheerder en vraag eerst toestemming. </p>
    <p>In de meeste gevallen, mits je het terrein niet negatief beïnvloedt en de bezoekers niet in gevaar brengt, zal het geen probleem zijn toestemming te krijgen je Geocache te verstoppen.</p>
    
    <h3>Mag ik een cache verplaatsen zodra ik hem gevonden heb?</h3>
    <p>Nee, dat is uit den boze. Een cache moet blijven liggen waar hij ligt.</p>
    
    <h3>Hoe lang blijven caches bestaan?</h3>

    <p>Wanneer je een GPS cache maakt, zou het best eens kunnen dat hij voor eeuwig blijft bestaan!  Een locatie op deze planeet is wat hij is....  een locatie en locaties verdwijnen niet.
    Regelmatig zal Geocaching.nl een overzicht geven van welke caches er nog bestaan. 
    We kunnen nooit de garantie geven dat een cache nog bestaat, maar doen wel ons best de lijst zo actueel mogelijk te houden. </p>
    <p>Als je merkt dat een cache verwijderd of geschonden is, laat het dan de eigenaar zo snel mogelijk weten!</p?>

</body>
</html>
